<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <style>
        table {
            border: 1px solid #444444;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    
    <ul id="test">
        <li>3322님</li>
        <li>2323님</li>
        <li>ㅁㄴ님</li>
    </ul>
    
    <!-- <input type="text" id="asdf"> -->
    <button type="button" id="expander">Expand All</button>
    
    <script>




// // update
// if ( navigator.onLine ) {
//     window.addEventListener('offline', function(){
//         // sendMessage
//     });

// } else {
//     window.addEventListener('online', function(){
//         // sendMessage
//     });
// }






// navigator.geolocation.watchPosition((pos) => {
    
// });






        window.addEventListener('load', function () {
            const generateData = () => {

                const getUUID = () => {
                const getRandString = () => ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
                    return [
                        getRandString(), getRandString(),
                        '-', getRandString(),
                        '-', getRandString(),
                        '-', getRandString(),
                        '-', getRandString(),
                        getRandString(),
                        getRandString()
                    ].join('');
                };

                const isIos = /iPad|iPhone|iPod/.test(navigator.userAgent) && ! window.MSStream;

                let dummy = {
                    "sequence_id": getUUID(),
                    "type": "query",
                    "query_type": "info",
                    "my_info": {
                        "battery": null,
                        "is_online": navigator.onLine,
                        "gps": null
                    }
                };

                if ( ! isIos ) {
                    (async(nav) => {
                        const bet = await nav.getBattery();
                        dummy.my_info.battery = bet.level * 100;
                    })(navigator)
                }
                
                if ( navigator.geolocation ) {
                    navigator.geolocation.getCurrentPosition((pos) => {
                        dummy.my_info.gps = [
                            pos.coords.latitude, ',', pos.coords.longitude
                        ].join('');
                    });
                }
                
                if ( ! dummy.my_info.gps ) {
                    dummy.my_info.gps = "37.495470,127.038855";
                }
                return dummy;
            };
            

            const url = 'ws://192.168.0.152:8080/websocket';
            const ws = new WebSocket(url);
            
            ws.addEventListener('open', function () {

                let data = generateData();


                ws.send(JSON.stringify({
                    "sequence_id": data.sequence_id,
                    "type": "client_info"
                }));

                // document.getElementById('asdf').addEventListener('keypress', function(e) {
                //     if (e.keyCode === 13) {
                //         ws.send()
                //     }
                // });
                
                
                document.getElementById('expander').addEventListener('click', function () {
                    ws.send(JSON.stringify(data));
                });

                ws.addEventListener('message', function (resp) {
                    if (resp.isTrusted) {
                        data = JSON.parse(resp.data);
                        console.log(data);
                    }
                });
            });
        });
    </script>
</body>

</html>