<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <style>
        table {
            border: 1px solid #444444;
            border-collapse: collapse;
        }
    </style>
</head>

<body>



    <button type="button" id="expander">Expand All</button>
    <!-- <button type="button" id="collapser">Collapse All</button> -->

    <table id="basic">
        <tr data-node-id="1">
            <td>1</td>
            <td>text of 1</td>
        </tr>
        <tr data-node-id="1.1" data-node-pid="1">
            <td>1.1</td>
            <td>text of 1.1</td>
        </tr>
        <tr data-node-id="1.1.1" data-node-pid="1.1">
            <td>1.1.1</td>
            <td>text of 1.1.1</td>
        </tr>
        <tr data-node-id="1.1.2" data-node-pid="1.1">
            <td>1.1.2</td>
            <td>text of 1.1.2</td>
        </tr>
        <tr data-node-id="1.2" data-node-pid="1">
            <td>1.2</td>
            <td>text of 1.2</td>
        </tr>
        <tr data-node-id="1.2.1" data-node-pid="1.2">
            <td>1.2.1</td>
            <td>text of 1.2.1</td>
        </tr>
        <tr data-node-id="1.2.2" data-node-pid="1.2">
            <td>1.2.2</td>
            <td>text of 1.2.2</td>
        </tr>
        <tr data-node-id="2">
            <td>2</td>
            <td>text of 2</td>
        </tr>
        <tr data-node-id="2.1" data-node-pid="2">
            <td>2.1</td>
            <td>text of 2.1</td>
        </tr>
        <tr data-node-id="2.2" data-node-pid="2">
            <td>2.2</td>
            <td>text of 2.2</td>
        </tr>
    </table>




    <script>
        const getUUID = () => {
            const getRandString = () => ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
            return [
                getRandString(), getRandString(),
                '-', getRandString(),
                '-', getRandString(),
                '-', getRandString(),
                '-', getRandString(),
                getRandString(),
                getRandString()
            ].join('');
        };
        window.addEventListener('load', function () {
            let level = null;
            const url = 'ws://192.168.0.152:8080/websocket';
            const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
            const ws = new WebSocket(url);
            let dummy = {
                "sequence_id": getUUID(),
                "type": "query",
                "query_type": "info",
                "my_info": {
                    "battery": null,
                    "is_online": false,
                    "gps": null
                }
            };

            ws.addEventListener('open', function () {


                document.getElementById('expander').addEventListener('click', function () {
                    if ( ! isIOS ) {
                        navigator.getBattery().then(function (battery) {
                            dummy.my_info.battery = battery.level * 100;
                        });
                    }

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition((pos) => {
                            dummy.my_info.gps = [
                                pos.coords.latitude, ' / ', pos.coords.longitude
                            ].join('')
                        });
                    }
                    
                    alert(dummy.my_info.gps);






                    console.log(dummy);









                    // ws.send(dummy);



                    // alert(level);
                    // ws.send(dummy);
                });

                ws.addEventListener('message', function (resp) {
                    console.log(esp);
                    if (resp.isTrusted) {
                        data = resp.data;
                    }

                    // console.log(JSON.parse(esp.data));
                });
            });
        });
    </script>
</body>

</html>