<!DOCTYPE HTML>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>AngelCell</title>


    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>

    <style>
        .page-container {
            background: #f7f7f7 !important;
        }
    </style>
</head>
<body>
<h1>Detail</h1>
{{userDetail}}

<hr>
{{#each userMessage}}
    {{hpno}}
    {{msg}}
    {{/each}}
</body>
</html>