<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conectus</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main/detail.css">

    <style>
        .Rectangle-Copy-2 {
            width: 100%;
            height: 10vh;
            border: solid 1px #979797;
            background-image: linear-gradient(to bottom, #6370ff, #515aff);;
        }

        body {
            margin : 0;
        }

        .back-label{

            font-size: large;
            color:white;
        }

        #back-label{
            position: relative;
            margin-top: 25px;
            padding-left: 10px;
        }

        .chat-room .tengah-side footer {
            width: 100%;
        }

    </style>
</head>
<body>
<div class="Rectangle-Copy-2">
    <div id="back-label"><label><b class="back-label">< '37.495707','127.038835'</b></label></div>
</div>

<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-md-12">
            <!-- start:chat room -->
            <div class="box">
                <div class="chat-room">
                    <!-- start:aside kiri chat room -->
                    <aside class="kiri-side">
                        <ul class="chat-list">
                            <li class="">
                                <a class="lobby" href="#lobby.html">
                                    <h4>
                                        <i class="fa fa-list"></i>
                                        Lobby
                                    </h4>
                                </a>
                            </li>
                        </ul>
                        <ul id="asdf" class="chat-list chat-user">
                            {{#each UserList}}
                            <li id="user-list-{{num}}">
                                <a href="##">
                                    <i class="fa fa-circle text-success"></i>
                                    <span>{{hpno}}</span>
                                    <i class="fa fa-times pull-right"></i>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </aside>
                    <!-- end:aside kiri chat room -->

                    <!-- start:aside tengah chat room -->
                    <aside class="tengah-side">
                        <div class="group-rom">
                            <div class="first-part odd">Jonathan Smith</div>
                            <div class="third-part">12:30</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part">Cendy Andrianto</div>
                            <div class="second-part">Yoman Smith. Please proceed</div>
                            <div class="third-part">12:31</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part odd">Jonathan Smith</div>
                            <div class="second-part">I want to share a file using chatroom</div>
                            <div class="third-part">12:32</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part">Cendy Andrianto</div>
                            <div class="second-part">oh sure. please send</div>
                            <div class="third-part">12:32</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part odd">Jonathan Smith</div>
                            <div class="second-part"><a href="##">search_scb_dialog.jpg</a> <span class="text-muted">46.8KB</span>
                                </div>
                            <div class="third-part">12:32</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part">Cendy Andrianto</div>
                            <div class="second-part">Fantastic job, love it :)</div>
                            <div class="third-part">12:32</div>
                        </div>
                        <div class="group-rom">
                            <div class="first-part odd">Jonathan Smith</div>
                            <div class="second-part">Thanks</div>
                            <div class="third-part">12:33</div>
                        </div>
                        <footer>
                            <div class="chat-txt">
                                <input type="text" id="inputBox" class="form-control">
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-white" data-original-title="" title=""><i
                                        class="fa fa-meh-o"></i></button>
                                <button type="button" class="btn btn-white" data-original-title="" title=""><i
                                        class=" fa fa-paperclip"></i></button>
                            </div>
                            <button id="sendMessage" class="btn btn-danger" data-original-title="" title="">Send</button>
                        </footer>
                    </aside>
                    <!-- end:aside tengah chat room -->


                </div>
            </div>
            <!-- end:chat room -->
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function (ev) {
        
        let nodeName = null;
        let userNum = null;

        document.getElementById('sendMessage').addEventListener('click', function(e){
            if ( userNum ) {
                (async ()=> {
                    const req = await fetch(`/users/${userNum}/send`, {
                        method: 'post',
                        data: JSON.stringify({
                            num: userNum,
                            dto: document.getElementById('inputBox').value
                        })
                    });
                    const json = await req.json();
                    console.log(json);
                })()
            }
            // (async () => {
            //     const req = await fetch(['/users/', userNum, {
            //         method: 'post'
            //     });
            // });
        })
        

        document.getElementById('asdf').addEventListener('click', function (ev1) {
            ev1.preventDefault();
            nodeName = ev1.target.nodeName;
            if (nodeName === 'SPAN') {
                nodeName = ev1.target.parentElement.parentElement;

            } else if (nodeName === 'A') {
                nodeName = ev1.target.parentElement;
            }
            (async() => {
                userNum = nodeName.getAttribute('id').split('-')[2];
                const d = await fetch(['/users/', nodeName.getAttribute('id').split('-')[2]].join(''), {
                    method: 'get'
                });

                const f = await d.json();

                const aside = document.getElementsByClassName('tengah-side')[0];

                const userData = f.userMessage;
                let rlt = '';
                for (let i = 0, tag = document.getElementsByClassName('tengah-side')[0].children, len = tag.length - 1; i < len; i++) {
                    rlt += tag[i].outerHTML;

                }


                for (let i in userData) {
                    rlt += `
                        <div class="group-rom">
                            <div class="first-part">${userData[i].host}</div>
                            <div class="second-part">${userData[i].msg}</div>
                            <div class="third-part">${userData[i].moddate.split('T')[1].split('T')[0].split('.')[0]}</div>
                        </div>
                    `;
                }

                aside.outerHTML = rlt;

                // console.log(userData)
            })();

            // if (ev)ev
            // $.ajax({
            //     method: 'get',
            //     url: ['/users/', nodeName.getAttribute('id').split('-')[2]].join(''),
            //     async: true,
            //     cache: false,
            //     success: function (resp) {
            //         console.log(resp);
            //     }
            // })
        });
    });

</script>



</body>
</html>