<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <title>Document</title>
</head>

<body>

    <h1>Basic Table</h1>
    <button style="display:none;" type="button" id="collapser">collapse</button>

    <table class="table mb-0">
        <thead>
            <th scope="col">1</th>
            <th scope="col">2t</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
        </thead>


        <tbody>
            <table class="table" id="basic">
                <thead class="thead-dark">
                    <th scope="col">건물명</th>
                    <th scope="col">위치</th>
                    <th scope="col">최초사건 발생시간</th>
                    <th scope="col">커낵팅 수</th>
                </thead>
                <tbody id="test">
                    {{#each userList}}
                    <tr data-node-id="1">
                        <td>{{battery}}</td>
                        <td>{{connectedHost}}</td>
                    </tr>
                    {{/each}}
                    <tr data-node-id="1.1" data-node-pid="1">
                        <td>1.1</td>
                        <td>text of 1.1</td>
                        <td>text of 1.1</td>

                    </tr>
                    <tr data-node-id="1.1.1" data-node-pid="1.1">
                        <td>1.1.1</td>
                        <td>text of 1.1.1</td>
                        <td>text of 1.1.1</td>
                    </tr>
                    <tr data-node-id="1.1.2" data-node-pid="1.1">
                        <td>1.1.2</td>
                        <td>text of 1.1.2</td>
                        <td>text of 1.1.2</td>
                    </tr>
                    <tr data-node-id="1.2" data-node-pid="1">
                        <td>1.2</td>
                        <td>text of 1.2</td>
                        <td>text of 1.2</td>
                    </tr>
                    <tr data-node-id="1.2.1" data-node-pid="1.2">
                        <td>1.2.1</td>
                        <td>text of 1.2.1</td>
                        <td>text of 1.2.1</td>
                    </tr>
                    <tr data-node-id="1.2.2" data-node-pid="1.2">
                        <td>1.2.2</td>
                        <td>text of 1.2.2</td>
                        <td>text of 1.2.2</td>
                    </tr>
                    <tr data-node-id="2">
                        <td>2</td>
                        <td>text of 2</td>
                        <td>text of 2</td>
                    </tr>
                    <tr data-node-id="2.1" data-node-pid="2">
                        <td>2.1</td>
                        <td>text of 2.1</td>
                        <td>text of 2.1</td>
                    </tr>
                    <tr data-node-id="2.2" data-node-pid="2">
                        <td>2.2</td>
                        <td>text of 2.2</td>
                        <td>text of 2.2</td>
                    </tr>

                </tbody>
            </table>
        </tbody>
    </table>

    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <script src="/vendor/simpleTreeTable/tree.js"></script>
    <script src="/js/main/main.js"></script>

</body>

</html>